<!DOCTYPE html>
<html>


<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>


</head>

<body>
  <div class="login">
    <h1>Boston House Price Prediction (1970s)</h1>

    <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post">

      <label for="CRIM">per capita crime rate by town (CRIM):</label>
      <input type="text" name="CRIM" id="CRIM" placeholder="CRIM" required="required" /><br>

      <label for="ZN">proportion of residential land zoned for lots over 25,000 sq.ft. (ZN):</label>
      <input type="text" name="ZN" id="ZN" placeholder="ZN" required="required" /><br>

      <label for="INDUS">proportion of non-retail business acres per town (INDUS):</label>
      <input type="text" name="INDUS" id="INDUS" placeholder="INDUS" required="required" /><br>

      <label for="CHAS">Charles River dummy variable (= 1 if tract bounds river; 0 otherwise) (CHAS):</label>
      <input type="text" name="CHAS" id="CHAS" placeholder="CHAS" required="required" /><br>

      <label for="NOX">nitric oxides concentration (parts per 10 million) (NOX):</label>
      <input type="text" name="NOX" id="NOX" placeholder="NOX" required="required" /><br>

      <label for="RM">average number of rooms per dwelling (RM):</label>
      <input type="text" name="RM" id="RM" placeholder="RM" required="required" /><br>

      <label for="Age">proportion of owner-occupied units built prior to 1940 (Age):</label>
      <input type="text" name="Age" id="Age" placeholder="Age" required="required" /><br>

      <label for="DIS">weighted distances to five Boston employment centres (DIS):</label>
      <input type="text" name="DIS" id="DIS" placeholder="DIS" required="required" /><br>

      <label for="RAD">index of accessibility to radial highways (RAD):</label>
      <input type="text" name="RAD" id="RAD" placeholder="RAD" required="required" /><br>

      <label for="TAX">full-value property-tax rate per $10,000 (TAX):</label>
      <input type="text" name="TAX" id="TAX" placeholder="TAX" required="required" /><br>

      <label for="PTRATIO">pupil-teacher ratio by town (PTRATIO):</label>
      <input type="text" name="PTRATIO" id="PTRATIO" placeholder="PTRATIO" required="required" /><br>

      <label for="B">1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town (B):</label>
      <input type="text" name="B" id="B" placeholder="B" required="required" /><br>

      <label for="LSTAT">% lower status of the population (LSTAT):</label>
      <input type="text" name="LSTAT" id="LSTAT" placeholder="LSTAT" required="required" /><br>



      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

    <br>
    <br>


  </div>
  {{prediction_text}}

</body>

</html>